.nombre_materia {
  margin-bottom: 3rem;
  color: #FFFFFF;
  font-family: Gentium Book Basic;
  font-weight: bold;
}

.contenido_buscador_grupos {
    margin-top: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentido_top_buscador_grupos {
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentido_bottom_buscador_grupos {
    width: 100%;
    max-width: 900px;
    margin-bottom: 5rem;
}

.contentido_bottom_buscador_grupos .carta {
    width: 280px;
    height: 110px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 13px;
    padding: 3px 6px;
}

.carta .grupo_info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1C1C21;
    border-radius: 13px;
    margin: 10px;
}

.contentido_top_buscador_grupos .nombre_materia {
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.contentido_top_buscador_grupos .boton_compañeros {
    background-color: #167B56;
    color: #F2F2F2;
    border-radius: 15px;
    border: 0;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
}

.boton_compañeros {
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Poltawski Nowy';
}

.boton_compañeros:hover {
  background-color: #0c3d2b;
}

.grupo_info .nombre_del_grupo {
    color: #AEABD4;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    margin-left: 15px;
}

.grupo_info .cantidad_integrantes {
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
}

.carta .boton_info {
    width: 100%;
    border-radius: 20px;
    border: 0;
    background-color: #5C95D6;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    padding: 3px;
}

.modal-title {
    font-weight: 800;
}

.modal-content {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    background-color: #1C1C21 !important;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);


}

.modal-dialog {
    max-width: 900px;
}

.boton_solicitar_unirse {
    font-weight: 800;
    letter-spacing: 0.5px;
    font-family: 'Plus Jakarta Sans', sans-serif;

}
