#contenedor-grupos {
    color: #F2F2F2;
    font-family: 'Plus Jakarta Sans';
}

.barra_desplazamiento_grupos {
    overflow-y: auto;
    overflow-x: hidden;
    height: 30rem;
}

.barra_desplazamiento_grupos div {
    padding-right: 0.1875rem;
}

.barra_desplazamiento_grupos::-webkit-scrollbar {
    border-radius: 1rem;
}

.barra_desplazamiento_grupos::-webkit-scrollbar-thumb {
    background: #5a5959;
    border-radius: 1rem;
}

.barra_desplazamiento_grupos::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

#items_barra_desplazamiento_grupos div {
    max-width: 100%;
    transform: translate(-5px, 10px);
}

.grupo-card {
    background-color: #303030;
}

#contenedor_nombre_grupo_nombre_materia {
    background-color: #1C1C21;
    height: 5.4375rem;
}

#contenedor_nombre_grupo_nombre_materia h5 {
    color: #AEABD4;
    font-size: 1.05em;
}

#contenedor_boton_informacion_grupo a {
    color: #FFFFFF;
    background-color: #5C95D6;
    height: 1.875rem;
    font-family: 'Poppins';
}