#contenedor-cantidad-grupos-formados {
    color: #F2F2F2;
    font-family: 'Istok Web', sans-serif;
}

#img-grupos-formados {
    height: 2rem;
    width: 2rem;
}

.txt-titulo {
    font-family: 'Poppins', sans-serif;
    color: #BEBEBE;
    font-size: 2.5rem;
}

@media (max-width: 992px) {
  .txt-titulo {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .txt-titulo {
    font-size: 1.5rem;
  }
}

.txt-subtitulo {
    color: #FFFFFF;
    font-family: 'Istok Web', sans-serif;
}

.txt-como-funciona {
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}