#contenedor-buscador-materia {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;

}

#contenedor-buscador-input{
  display: flex;
  gap: 0.5rem;
  width: 30rem;
}

#contenedor-buscador-input input {
  width: 100%;
}

#txt-buscador {
  font-size: 1rem;
  font-weight: bold;
  color: #F2F2F2;
  font-family: 'Istok Web';
}

#buscadorInput {
  border-radius: 1.5rem;
  border: #BFBFBF solid 0.01rem;
  background-color: #1C1C21;
  font-family: 'Inter';
  font-size: xx-small;
  padding: 0.5rem 1rem;
  color: #F2F2F2;
}

#btn-buscar-materia {
  background-color: #800080;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}

#btn-buscar-materia img {
  width: 1.2rem;
  height: 1.2rem;
}

/**GRILLA**/

#contenedor-materias {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.materia-item {
  border: #303030 solid 0.3rem;
  border-radius: 1rem;
  width: 12rem;
  margin-bottom: 1.1rem;
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  text-align: center;
}

.materia-nombre {
  color: #AEABD4;
  text-decoration: none;
  display: block;
  width: 100%;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;

}

.materia-item:hover {
  background-color: black;
  transform: scale(1.07);
}
