.color-blanco {
  color: #F2F2F2;
}

#contenedor-buscador-input input {
  height: 3rem;
}

#txt-buscador {
  font-size: 1rem;
  color: #F2F2F2;
  font-family: 'Istok Web';
}

#buscadorInput {
  border-radius: 1.5rem;
  border: #BFBFBF solid 0.01rem;
  background-color: #1C1C21;
  font-family: 'Inter';
  font-size: xx-small;
  color: #F2F2F2;
}

#btn-buscar-materia {
  background-color: #800080;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

#btn-buscar-materia img {
  width: 1.2rem;
  height: 1.2rem;
}

/**GRILLA**/

.materia-item {
  display: flex;
  background-color: #1C1C21;
  border: #303030 solid 0.3rem;
  width: 12rem;
  height: 8rem;
  min-height: 5.5rem;
}

.materia-nombre {
  color: #AEABD4;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
}

.materia-item:hover {
  background-color: black;
  transform: scale(1.07);
}
