html {
  scroll-behavior: smooth;
}

/*Fondo*/
body {
    background-color: #1C1C21;
    height: 100%;
    margin: 0;
}

/*Inicio de Sesi贸n y Registro*/

#registro_inicio_sesion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-right: 10px;
    padding-top: 5px;
}

#registro_inicio_sesion a {
    font-size: 13px;
    text-decoration: none;
    color: #CEE5F2;
}

#registro_inicio_sesion a:hover {
    text-decoration: underline;
}

#inicio_sesion {
    padding: 10px;
    font-family: 'Inter', sans-serif;
}

#registrarse {
    display: inline-block;
    background-color: #5C95D6;
    padding: 10px;
    border-radius: 999px;
    font-family: 'Poppins', sans-serif;
}

/*Menu de elementos (tanto inicio como final)*/

.listado {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.listado a {
    text-decoration: none;
    font-family: 'Istok Web', sans-serif;;
}

.listado a:hover {
    text-decoration: underline;
}

/*Contactanos config*/

#contactanos {
    cursor: pointer;
}

#fondo_popupContacto {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  backdrop-filter: blur(5px); /*  Aqu铆 se aplica el difuminado */
  background-color: rgba(0, 0, 0, 0.4); /* oscuro semi-transparente */
  z-index: 999;
}

#contacto_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: gray solid 1px;
    border-radius: 50px;
    height: 450px;
    width: 350px;
    background-color: #1C1C21;
    z-index: 1000;
}

#contacto_popup h1 {
    text-align: center;
    text-decoration: underline;
    color: #F2F2F2;
}

/*Se encarga de los correos y seleccionarlos*/

#lista_correos {
    color: #F2F2F2;
    font-family: 'Istok Web', sans-serif;
    margin: 10px;
}

#lista_correos button {
    background-color: #222225;
    color: #F2F2F2;
    text-align: left;
    border: solid #5a5959 0.2px;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
}

#lista_correos button.seleccionado {
    background-color: #626262;
}

/*Fin lista correos*/

/*Controla el form, tama帽os y vista*/

#contacto_popup form {
    display: flex;
    flex-direction: column;
    width: 330px;
    color: #F2F2F2;
    margin: 10px;
}

#contacto_popup form input {
    background-color: transparent;
    border: #5a5959 solid 1px;
    border-radius: 5px;
    color: #F2F2F2;
}

#mensaje {
    height: 7rem;
    background-color: transparent;
    border: #5a5959 solid 1px;
    border-radius: 5px;
    color: #F2F2F2;
    resize: none;
}

#botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
}

#botones button {
    margin-top: 1.5rem;
    padding: 5px;
    background-color: transparent;
    border: solid #5a5959 0.2px;
    border-radius: 999px;
    color: #F2F2F2;
}

/*Fin modificaci贸n del form*/

/*Decoraci贸n header*/

#img_menu_header {
    width: 100px;
    position: absolute;
    left: 0;
}

#listado_header a {
    transform: translate(0px, 20px);
    color:#AEABD4;;
}

#menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 65px;
    padding-top: 10px;
}

/*Decoraci贸n footer*/

footer {
    position: absolute;
    background-color: #242424;
    width: 100%;
    border-top-left-radius: 100vmax;
    border-top-right-radius: 100vmax;
}

#terminos_condiciones {
    text-align: center;
    color: #626262;
    font-family: 'Istok Web', sans-serif;;
}

#txt_footer {
    display: block;
    width: 100%;
    background-color: #1D1D1D;
    margin: 0 0 0 0;
}

#txt_footer p {
    color: #626262;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
    margin: 0 0 0 0;
}

#logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #F2F2F2;
    font-size: 30px;
    font-family: 'Istok Web', sans-serif;;
    gap: 0.5rem;
}

#img_footer {
    height: 3.75rem;
}

#listado_footer a {
    color: #f2f2f2;
}


/******************************************* ESTILOS PARA TEMPLATE INDEX ************************************************/

#grupos_formados {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 1.25rem;
    color: #F2F2F2;
    font-size: 15px;
    font-family: 'Istok Web', sans-serif;;
}

#img_grupos_formados {
    height: 1.375rem;
}

#txt_titulo {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #BEBEBE;
}

#txt_subtitulo {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Istok Web', sans-serif;
    font-size: 15px;
    padding: 15px;
}

#gif_inicio {
    display: block;
    margin: auto;
    height: 600px;
}

.informacion h1 { /*Incluye contacto del footer*/
    color: #BEBEBE;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    margin-left: 0.5rem;
} 

.informacion p {
    margin-left: 0.5rem;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

/******************************************* FIN ESTILO INDEX ************************************************/

/******************************************* ESTILOS PARA MATERIAS ************************************************/

#contenedor-buscador-materia {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;

}

#contenedor-buscador-input{
  display: flex;
  gap: 0.5rem;
  width: 30rem;
}

#contenedor-buscador-input input {
  width: 100%;
}

#txt-buscador {
  font-size: 1rem;
  font-weight: bold;
  color: #F2F2F2;
  font-family: 'Istok Web';
}

#buscadorInput {
  border-radius: 1.5rem;
  border: #BFBFBF solid 0.01rem;
  background-color: #1C1C21;
  font-family: 'Inter';
  padding: 0.5rem 1rem;
  color: #F2F2F2;
}

#btn-buscar-materia {
  background-color: #800080;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}

#btn-buscar-materia img {
  width: 1.2rem;
  height: 1.2rem;
}

/**GRILLA**/

#contenedor-materias {
  margin: 4rem;
  display: flex;
  justify-content: center;
}

.materia-item {
  border: #303030 solid 0.3rem;
  border-radius: 1rem;
  width: 12rem;
  margin-bottom: 1.1rem;
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  text-align: center;
}

.materia-nombre {
  color: #AEABD4;
  text-decoration: none;
  display: block;
  width: 100%;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;

}

.materia-item:hover {
  background-color: black;
  transform: scale(1.07);
}


/*******************************FIN DE ESTILOS PARA MATERIAS ***************************************/

/******************************* ESTILOS PARA GRUPOS ***************************************/

.barra_desplazamiento_grupos {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    height: 30rem;
    border: #303030 solid 0.3rem;
    border-radius: 1rem;
    background-color: transparent;
}

.barra_desplazamiento_grupos::-webkit-scrollbar {
    border-radius: 1rem;
}

.barra_desplazamiento_grupos::-webkit-scrollbar-thumb {
    background: #5a5959;
    border-radius: 1rem;
}

.barra_desplazamiento_grupos::-webkit-scrollbar-thumb:hover {
    background: #444444;
}


#items_barra_desplazamiento_grupos div {
    min-width: 200px;
    height: 60px;
}



/*******************************FIN DE ESTILOS PARA GRUPOS ***************************************/