html {
  scroll-behavior: smooth;
}

body {
    background-color: #1C1C21;
}

#contenedor_registrarse_iniciar_sesion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#contenedor_registrarse_iniciar_sesion a {
    text-decoration: none;
    color: #CEE5F2;
    font-family: 'Poppins', sans-serif;
    font-weight: bold
}

#btn_registrarse {
    background-color: #5C95D6;
    border-radius: 1rem;
}

#btn_iniciar_sesion:hover {
    color: white;
    font-weight: bold;
}

#btn_registrarse:hover {
    background-color: #4A7BBE;
    color: white;
    font-weight: bold;
}

/* Header */

.listado {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

.listado a {
    text-decoration: none;
    font-family: 'Istok Web', sans-serif;;
}

.listado a:hover {
    text-decoration: underline;
}

/*Contactanos config*/

#contactanos {
    cursor: pointer;
}

#fondo_popupContacto {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  backdrop-filter: blur(5px); /* 🔍 Aquí se aplica el difuminado */
  background-color: rgba(0, 0, 0, 0.4); /* oscuro semi-transparente */
  z-index: 999;
}

#contacto_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: gray solid 1px;
    border-radius: 50px;
    height: 450px;
    width: 350px;
    background-color: #1C1C21;
    z-index: 1000;
}

#contacto_popup h1 {
    text-align: center;
    text-decoration: underline;
    color: #F2F2F2;
}

/*Se encarga de los correos y seleccionarlos*/

#lista_correos {
    color: #F2F2F2;
    font-family: 'Istok Web', sans-serif;
    margin: 10px;
}

#lista_correos button {
    background-color: #222225;
    color: #F2F2F2;
    text-align: left;
    border: solid #5a5959 0.2px;
    border-radius: 5px;
    height: 2rem;
    width: 10rem;
}

#lista_correos button.seleccionado {
    background-color: #626262;
}

/*Fin lista correos*/

/*Controla el form, tamaños y vista*/

#contacto_popup form {
    display: flex;
    flex-direction: column;
    width: 330px;
    color: #F2F2F2;
    margin: 10px;
}

#contacto_popup form input {
    background-color: transparent;
    border: #5a5959 solid 1px;
    border-radius: 5px;
    color: #F2F2F2;
}

#mensaje {
    height: 7rem;
    background-color: transparent;
    border: #5a5959 solid 1px;
    border-radius: 5px;
    color: #F2F2F2;
    resize: none;
}

#botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
}

#botones button {
    margin-top: 1.5rem;
    padding: 5px;
    background-color: transparent;
    border: solid #5a5959 0.2px;
    border-radius: 999px;
    color: #F2F2F2;
}

/*Fin modificación del form*/

/*Decoración header*/

#img_menu_header {
    width: 100px;
    position: absolute;
    left: 0;
}

#listado_header a {
    transform: translate(0px, 20px);
    color:#AEABD4;;
}

#menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 65px;
    padding-top: 10px;
}

/*Decoración footer*/

footer {
    bottom: 0;
    background-color: #242424;
    width: 100%;
    border-top-left-radius: 100vmax;
    border-top-right-radius: 100vmax;
}

#terminos_condiciones {
    text-align: center;
    color: #626262;
    font-family: 'Istok Web', sans-serif;;
}

#txt_footer {
    display: block;
    width: 100%;
    background-color: #1D1D1D;
    margin: 0 0 0 0;
}

#txt_footer p {
    color: #626262;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
    margin: 0 0 0 0;
}

#logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #F2F2F2;
    font-size: 30px;
    font-family: 'Istok Web', sans-serif;;
    gap: 0.5rem;
}

#img_footer {
    height: 3.75rem;
}

#listado_footer a {
    color: #f2f2f2;
}


/*Template index*/

#grupos_formados {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 1.25rem;
    color: #F2F2F2;
    font-size: 15px;
    font-family: 'Istok Web', sans-serif;;
}

#img_grupos_formados {
    height: 1.375rem;
}

#txt_titulo {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #BEBEBE;
}

#txt_subtitulo {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Istok Web', sans-serif;
    font-size: 15px;
    padding: 15px;
}

#gif_inicio {
    display: block;
    margin: auto;
    height: 600px;
}

.informacion h1 { /*Incluye contacto del footer*/
    color: #BEBEBE;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    margin-left: 0.5rem;
} 

.informacion p {
    margin-left: 0.5rem;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}