{% extends 'base.html' %}

{% block tittle %}TP Buddy{% endblock %}

{% block content %}
    <div>
        <div id="grupos_formados">
            <img id="img_grupos_formados" src="{{ url_for('static', filename='/img/img_grupos.png', _external=True) }}"> <!--{{ url_for('static', filename='/img/img_grupos.png', _external=True) }}-->
            <p>317 grupos formados</p>
        </div>
        <p id="txt_titulo">
            Encontrá compañeros y organizá tus TPs de la mejor manera. 
            Facilitamos tu búsqueda de grupo para que te enfoques en aprender.
        </p>
        <p id="txt_subtitulo">
            Nunca fue tan simple armar tu grupo de TP.
        </p>
        <video id="gif_inicio" src="{{ url_for('static', filename='/img/gif_inicio.webm', _external=True) }}" autoplay muted loop playsinline></video> <!--{{ url_for('static', filename='/img/gif_inicio.webm', _external=True) }}-->
        <p id="txt_subtitulo">
            Conectamos estudiantes para que trabajen mejor, juntos!
        </p>

    </div>
    {% endblock %}