<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!--Icono y Titulo Pestaña-->
    <link rel="icon" href="{{ url_for('static', filename='/img/icono_error.png') }}">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <h3>Ha surgido un error inesperado en la página, hacemos lo que podemos para solucionarlo</h3>
    <h3>Recarga la página, si el error persiste contactanos.</h3>
</body>
</html>