{% extends 'base.html' %}

{% block tittle %}Buscador de Grupos{% endblock %}

{% block content %}
    <div class="container_buscador_grupos">
        <div class="contenido_buscador_grupos">
            <div class="contentido_top_buscador_grupos">
                <h2 class="nombre_materia">Nombre de la materia</h2>
                <button class="boton_compañeros">Ver compañer@s sin grupo</button>
            </div>
            <div class="contentido_bottom_buscador_grupos">
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
                <div class="carta">
                    <div class="grupo_info">
                        <h3 class="nombre_del_grupo">Nombre del grupo</h3>
                        <p class="cantidad_integrantes">Cantidad de integrantes</p>
                    </div>
                    <button class="boton_info">INFO</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}