{% extends 'base.html' %}

{% block title %}Buscador de Grupos{% endblock %}

{% block content %}
  <div class="contenido_buscador_grupos">
    <!-- Parte superior -->
    <div class="contentido_top_buscador_grupos d-flex flex-column justify-content-center align-items-center gap-3 mb-4">
      <h2 class="nombre_materia text-center">Nombre de la materia</h2>
      <button class="boton_compañeros btn">Ver compañer@s sin grupo</button>
    </div>


    <!-- Parte inferior: tarjetas -->
    <div class="contentido_bottom_buscador_grupos row g-4 justify-content-center">
      {% for i in range(9) %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="carta card h-100 shadow">
          <div class="card-body d-flex flex-column justify-content-between grupo_info">
            <div>
              <h3 class="nombre_del_grupo card-title">Nombre del grupo {{ i+1 }}</h3>
              <p class="cantidad_integrantes card-text">Cantidad de Integrantes</p>
            </div>
            <!-- Botón que abre su propio modal -->
            <button class="boton_info">
              INFO
            </button>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}