{% extends "base.html" %}

{% block tittle %}Materias{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center flex-column">
  <div id="contenedor-buscador-materia" class="mt-5 mx-2">
    <div class="align-items-center d-flex flex-column">
      <p id="txt-buscador" class="fw-bold text-center mb-4">Buscá tu materia y encontrá a tu grupo ideal</p>
      <div id="contenedor-buscador-input" class="mx-5 d-flex gap-3 justify-content-center align-items-center w-100">
        <input class="w-100" type="text" id="buscadorInput" class="rounded-5" placeholder="Buscar materia..." onkeyup="filtrarMaterias()">
        <button id="btn-buscar-materia" class="border-0" type="submit"><i class="fa-solid fa-magnifying-glass color-blanco"></i></button>
      </div>
    </div>
  </div>
  <div id="contenedor-materias" class="row my-5 d-flex justify-content-center">
    {% for materia in materias %}
      <div class="materia-item justify-content-center p-3 card rounded-5 m-3 text-center d-flex">
        <a href="/materia/{{ materia.codigo_materia }}" class="materia-nombre d-block text-decoration-none fst-normal">{{ materia.nombre }}</a>
      </div>
    {% endfor %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}