{% extends "base.html" %}

{% include "modals_perfil.html" %}


{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div id="perfil" class="d:flex flex-column">

    <!-- Banner del perfil-->
    <div id="banner_perfil">
        <div>
            <i id="img_cambiar_banner" class="fa-solid fa-camera"></i>
            <input type="color" id="color_selector_banner" style="display:none;">
        </div>
    </div>

    <div id="foto_de_perfil">
        <button id="boton_editar_foto_de_perfil" class="button_editar_foto_de_perfil">
            <img class="foto_perfil_img" src="{{ url_for('static', filename='img/icono_imagen_perfil.png') }}"></i>
        </button> 
    </div>

    <div class="editar_foto">
        <!--agregar un modulo que deje editar la foto de perfil-->
        <button id="boton_editar_carrera" class="button_editar_foto_de_perfil">
            <img class='icono_lapiz' src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="">
        </button>
    </div>
          
    <!-- Datos del usuario -->
    <div id="datos_usuario">
        <div class="fila-datos">
            <h2 class="nombre_de_usuario">Nombre de compañer@</h2>
            <span class="datos">Universidad</span>
        </div>

        <span id="nombre_de_la_carrera">Carrera</span>
        <h2 class="nombre_de_usuario"> Sobre mi</h2>
        <div class="contenedor_textarea">
            <textarea id="sobre_mi" type="text" placeholder="Escribe algo sobre ti..."></textarea>
            <button id="editar_bio">
                <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar sobre mi">
                <!--deberia dejar editar la bio cuando presione este botton-->
            </button>                    
        </div>
    </div>

    <!-- Materias -->
    <div class="container my-5">
        <div class="row g-5 justify-content-center">
            <!-- Materias Cursando -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias cursando
                            <button class="btn btn-sm btn-outline-secondary">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3 lista-de-materias">
                            {% for materia in materias.cursando %}
                                <li class="list-group-item materia-background">{{ materia }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Materias Aprobadas -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias aprobadas
                            <button id="boton_editar_materias" class="btn btn-sm btn-outline-secondary">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3">
                            {% for materia in materias.aprobadas %}
                                <li class="list-group-item materia-background">{{ materia }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Horarios disponibles -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Horarios disponibles
                            <button id="boton_editar_horarios_disponibles" class="btn btn-sm btn-outline-secondary">
                            <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush mt-3">
                            {% for horario in materias.horarios %}
                                <li class="list-group-item materia-background">{{ horario }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Grupos -->
    <div class="container mb-5">

        <h4 class="text-center mb-4" id="titulo-grupos"><u>Grupos</u> <i class="fa-solid fa-circle-plus"></i></h4>
        <div class="row g-4 justify-content-center">
            {% for grupo in grupos %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="p-3 grupo-card-background h-100 d-flex flex-column justify-content-between">
                    <div class="info-grupo-background">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span id="nombre-grupo" class="fw-bold">{{ grupo.nombre }}</span>
                            <button class="btn btn-sm btn-outline-secondary p-1">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar grupo" style="width: 20px;">
                            </button>
                        </div>
                        <span>{{ grupo.integrantes }} integrantes</span>
                    </div>
                    <div class="mt-2 d-block justify-content-center">
                        <button id="btn-info-grupo" class="btn btn-sm w-100 me-2 my-1">INFO</button>
                        <button id="btn-estado-tp" class="btn btn-success btn-sm w-100 my-1">ENTREGADO</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>




    

























    <!-- Modals -->
    <!--modals-->
    <div id="modal_cerrar_sesion" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <h2 class="titulo_perfil">¿Desea cerrar sesion?</h2>
            <form class="form_perfil" action="{{ url_for('logout') }}" method="post">
                <button type="submit" id="btn_cerrar_perfil" class="btn_de_los_modals">CERRAR SESION</button>
            </form>
        </div>
    </div>

    <!--modal para editar la foto de perfil-->
    <div id="modal_editar_perfil" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Foto de perfil</span>
            <div id="contenedor_de_circulo_de_foto_de_perfil">
                <div id="circulo_de_foto_de_perfil">
                    <img class="foto_perfil_img" src="{{ url_for('static', filename='img/icono_imagen_perfil.png') }}" alt="Foto de Perfil">
                </div>                
            </div>
            <div class="fila_info">
                <div class="botones_editar_perfil">
                    <button id="boton_elegir_foto_de_perfil" class="button_trasparente_editar"> 
                        <img class="boton_editar_perfil_modal" src="{{ url_for('static', filename='img/icono_editar_imagen.png') }}">
                    </button>
                </div>

                <div class="botones_editar_perfil">
                    <button class="button_trasparente_editar"> 
                        <img class="boton_editar_perfil_modal" src="{{ url_for('static', filename='img/icono_eliminar.png') }}">
                    </button>
                </div> 
            </div>
        </div>
    </div>

    <div id="modal_ejegir_foto_de_perfil" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Elegi una foto de perfil</span>
            <div class="fila_info">
                
               <div class="opciones_para_icono_perfil">
                    <button id="foto_perfil_rosa" class="button_editar_foto_de_perfil">
                        <img class="foto_perfil_img" src="{{ url_for('static', filename='img/foto_de_perfil_rosa.png') }}" alt="Foto de Perfil" >
                    </button>
                </div> 

                <div class="opciones_para_icono_perfil">
                    <button id="foto_perfil_violeta" class="button_editar_foto_de_perfil">
                        <img class="foto_perfil_img" src="{{ url_for('static', filename='img/foto_de_perfil_violeta.png') }}" alt="Foto de Perfil" >
                    </button>
                </div>

            </div>
            
            
        </div>
    </div>

    <!--modal para Cambiar la carrera-->
    <div id="modificar_carrera" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Carrera</span>
            <div id="texto_de_horarios">
                <h5>¿que carrera estudias?</h5>
            </div>
            <form id="informacion_carrera_usuario">
                <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el nombre de la carrera"></input>
                <button type="button" id="guardar_carrera" class="btn_de_los_modals">GUARDAR</button>
            </form>
        </div>
    </div>

    <!--modal para editar las info personal de las materias-->
    <div id="modal_materias_cursando" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Añadir materia</span>
            <div class="contenido_de_modal">
                <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el nombre de la materia"></input>                
            </div>
            <div>
                <span class="contenido_de_modal">¿Estas en un grupo?</span>
                <input type="checkbox">si</input>
                <input type="checkbox">no</input>
            </div>
            <div class="btn_agregar_materia">
                <button type="submit" class="btn_de_los_modals">AGREGAR</button>
            </div>                
        </div>
    </div>

    <div id="modal_materias_Aprobadas" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Añadir materia</span>
            <div class="contenido_de_modal">
                <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el nombre de la materia"></input>                
            </div>
            <div>
                <span class="contenido_de_modal">¿Estas en un grupo?</span>
                <input type="checkbox">si</input>
                <input type="checkbox">no</input>
            </div>
            <div class="btn_agregar_materia">
                <button type="submit" class="btn_de_los_modals">AGREGAR</button>
            </div>
        </div>
    </div>

    <!--modal para editar los horarios disponibles-->
    <div id="modal_horarios_disponibles" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Añadir horario</span>
            <div id="texto_de_horarios">
                <h5>¿Durante que horario estas disponible?</h5>
            </div>            
            <div class="fila_info">
                <div>
                    <h5>Día:</h5>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe un dia..."></input>
                </div>
                <div>
                    <h5>Horario:</h5>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el horario..."></input>
                </div>
                
            </div>

            <div class="btn_agregar_materia">
                <button type="submit" class="btn_de_los_modals">EDITAR</button>
            </div>
        </div>
    </div>

    <!--modulo para editar info de grupo-->
    <div id="modal_editar_informacion_de_grupo" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Nombre del grupo:</span>
            <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el Nombre del grupo..."></input>
            <span class="contenido_de_modal">Integrantes:</span>
            <div id= "nombres_de_integrantes" class="fila_info">
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                
            </div>
            <span class="contenido_de_modal">Agregar Integrante</span>
            <div>
                <span class="contenido_de_modal">Padron del Integrante x:</span>
                <input type="text" class="introducir_informacion_cuadro"></input>
            </div>
         
            
            <span id="mensaje_error_integrante" >Est@ compañer@ ya tiene grupo / no esta registrad@</span>
            <div>
                <span class="contenido_de_modal">Cuantidad de integrantes:
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe la cantidad de integrantes..."></input>
                </span>
            </div>
            
            
            <div id="botones_de_modal_editar_informacion_grupo">
                <div>
                    <button type="submit" class="btn_guardar_cambios">GUARDAR CAMBIOS</button>
                </div>
                <div>
                    <button type="submit" class="btn_eliminar_grupo">ELIMINAR GRUPO</button>
                </div>

            </div>

        </div>
    </div>

    <div id="modal_editar_informacion_de_grupo_2" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Nombre del grupo:</span>
            <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el Nombre del grupo..."></input>
            <span class="contenido_de_modal">Integrantes:</span>
            <div id= "nombres_de_integrantes" class="fila_info">
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                
            </div>
            <span class="contenido_de_modal">Agregar Integrante</span>
            <div>
                <span class="contenido_de_modal">Padron del Integrante x:</span>
                <input type="text" class="introducir_informacion_cuadro"></input>
            </div>
         
            
            <span id="mensaje_error_integrante" >Est@ compañer@ ya tiene grupo / no esta registrad@</span>
            <div>
                <span class="contenido_de_modal">Cuantidad de integrantes:
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe la cantidad de integrantes..."></input>
                </span>
            </div>
            
            
            <div id="botones_de_modal_editar_informacion_grupo">
                <div>
                    <button type="submit" class="btn_guardar_cambios">GUARDAR CAMBIOS</button>
                </div>
                <div>
                    <button type="submit" class="btn_eliminar_grupo">ELIMINAR GRUPO</button>
                </div>

            </div>

        </div>
    </div>

    <div id="modal_editar_informacion_de_grupo_3" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Nombre del grupo:</span>
            <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el Nombre del grupo..."></input>
            <span class="contenido_de_modal">Integrantes:</span>
            <div id= "nombres_de_integrantes" class="fila_info">
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                <div>
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Integrante"></input>
                </div>
                
            </div>
            <span class="contenido_de_modal">Agregar Integrante</span>
            <div>
                <span class="contenido_de_modal">Padron del Integrante x:</span>
                <input type="text" class="introducir_informacion_cuadro"></input>
            </div>
         
            
            <span id="mensaje_error_integrante" >Est@ compañer@ ya tiene grupo / no esta registrad@</span>
            <div>
                <span class="contenido_de_modal">Cuantidad de integrantes:
                    <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe la cantidad de integrantes..."></input>
                </span>
            </div>
            
            
            <div id="botones_de_modal_editar_informacion_grupo">
                <div>
                    <button type="submit" class="btn_guardar_cambios">GUARDAR CAMBIOS</button>
                </div>
                <div>
                    <button type="submit" class="btn_eliminar_grupo">ELIMINAR GRUPO</button>
                </div>

            </div>

        </div>
    </div>













</div>

{% endblock %}

