{% extends "base.html" %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div id="perfil" class="position-relative d:flex flex-column">

    <!-- Banner del perfil -->
    <div id="banner_perfil" class="mb-5 position-relative">
        <div>
            <i id="img_cambiar_banner" class="fa-solid fa-camera position-absolute" onclick="abrirSelectorColor()"></i>
            <input type="color" id="color_selector_banner" onchange="cambiarColorBanner(this.value)">
        </div>

        <div id="foto_de_perfil" class="position-absolute">
            <button id="boton_editar_foto_de_perfil" class="button_editar_foto_de_perfil btn" data-bs-toggle="modal" data-bs-target="#modalEditarFotoPerfil">
                <img class="foto_perfil_img" src="{{ url_for('static', filename='img/avatar-default.jpg') }}" alt="Foto de perfil">
            </button>
        </div>
    </div>

    <!-- Datos del usuario -->
    <div id="datos_usuario" class="mt-5 pt-5">
        <div class="fila-datos">
            <h2 class="nombre_de_usuario">Nombre de compañer@</h2>
            <span class="datos">Universidad</span>
        </div>

        <span id="nombre_de_la_carrera">Carrera</span>
        <h2 class="nombre_de_usuario"> Sobre mi</h2>
        <div class="contenedor_textarea">
            <textarea id="sobre_mi" type="text" placeholder="Escribe algo sobre ti..."></textarea>
            <button id="editar_bio">
                <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar sobre mi">
                <!--deberia dejar editar la bio cuando presione este botton-->
            </button>                    
        </div>
    </div>

    <!-- Materias -->
    <div class="container my-5">
        <div class="row g-5 justify-content-center">
            <!-- Materias Cursando -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias cursando
                            <button class="btn btn-sm btn-outline-secondary">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3 lista-de-materias">
                            {% for materia in materias.cursando %}
                                <li class="list-group-item materia-background">{{ materia }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Materias Aprobadas -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias aprobadas
                            <button id="boton_editar_materias" class="btn btn-sm btn-outline-secondary">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3">
                            {% for materia in materias.aprobadas %}
                                <li class="list-group-item materia-background">{{ materia }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Horarios disponibles -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Horarios disponibles
                            <button id="boton_editar_horarios_disponibles" class="btn btn-sm btn-outline-secondary">
                            <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush mt-3">
                            {% for horario in materias.horarios %}
                                <li class="list-group-item materia-background">{{ horario }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Grupos -->
    <div class="container mb-5">

        <h4 class="text-center mb-4" id="titulo-grupos"><u>Grupos</u> <i class="fa-solid fa-circle-plus"></i></h4>
        <div class="row g-4 justify-content-center">
            {% for grupo in grupos %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="p-3 grupo-card-background h-100 d-flex flex-column justify-content-between">
                    <div class="info-grupo-background">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span id="nombre-grupo" class="fw-bold">{{ grupo.nombre }}</span>
                            <button class="btn btn-sm btn-outline-secondary p-1">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar grupo" style="width: 20px;">
                            </button>
                        </div>
                        <span>{{ grupo.integrantes }} integrantes</span>
                    </div>
                    <div class="mt-2 d-block justify-content-center">
                        <button id="btn-info-grupo" class="btn btn-sm w-100 me-2 my-1">INFO</button>
                        <button id="btn-estado-tp" class="btn btn-success btn-sm w-100 my-1">ENTREGADO</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <!-- Modal para editar la foto de perfil-->
    <div class="modal" id="modalEditarFotoPerfil">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" ">Elegí tu avatar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal""></button>
                </div>

                <div class="modal-body">
                    <div class="row g-3 justify-content-center">
                    {% for avatar in avatares %}
                    <div class="col-4 col-sm-4 col-md-3 col-lg-2 text-center">
                        <button type="button" class="btn p-0" onclick="cambiarFoto('{{ url_for('static', filename='img/avatares/' + avatar) }}')">
                            <img id="avatar_img" src="{{ url_for('static', filename='img/avatares/' + avatar) }}" alt="Avatar" class="rounded-circle img-fluid">
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




    





</div>

{% endblock %}

