{% extends "base.html" %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div id="perfil" class="position-relative d-flex flex-column">

    <div id="banner-perfil" class="mt-5 mb-5 position-relative w-100" style="background-color: {{ (data['datos_usuario'].banner_color) }};" onclick="document.getElementById('color-selector-banner').click()">
        <form id="formColorBanner" method="POST" action="{{ url_for('editar_perfil_usuario', padron=data['padron']) }}">
            <input type="hidden" name="campo" value="banner_color">
            <input type="color" id="color-selector-banner" name="valor" value="{{ data['datos_usuario']['banner_color'] }}" onchange="document.getElementById('formColorBanner').submit();">
        </form>
        <div id="foto-de-perfil" class="position-absolute">
                <button class="p-0 border-0 btn" data-bs-toggle="modal" data-bs-target="#modalEditarFotoPerfil" onclick="event.stopPropagation()">
                    <img class="foto-perfil-img w-100" src="{{ url_for('static', filename='img/avatares/' + data['datos_usuario'].avatar_url) }}" alt="Foto de perfil">
                </button>
        </div>
    </div>

    <div id="datos-usuario" class="mt-4 px-3">
        <div class="d-flex">
            <h4 class="titulo-datos-usuario my-4">{{ data['datos_usuario'].nombre }}</h4>
                <button type="button" class="btn p-0 icono-lapiz border-0 ms-3" data-bs-toggle="modal" data-bs-target="#modalEditarNombre">
                    <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar" width="16">
                </button>
        </div>
        <div class="d-flex my-2 align-items-center">
            <h5 class="titulo-datos-usuario">{{ data['datos_usuario'].carrera }}</h5>
                <button class="btn icono-lapiz border-0" data-bs-toggle="modal" data-bs-target="#modalEditarCarrera">
                    <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar" width="16">
                </button>
        </div>
        <div class="d-flex flex-wrap align-items-center gap-2 mb-3">
            <h6 class="titulo-datos-usuario"> Sobre mí</h6>
            <div id="sobre-mi-usuario" class="w-100 p-2 border-0 rounded-4 h-auto" data-bs-toggle="modal" data-bs-target="#modalSobreMi">
                {{ data['datos_usuario'].sobre_mi }}
            </div>
        </div>
    </div>

    <div class="container my-3">    <!-- Materias y horarios -->
        <div class="row g-5 justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">     <!-- Materias Cursando -->
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias cursando
                                <button class="btn border-0 icono-lapiz" data-bs-toggle="modal" data-bs-target="#modalEditarMateriasCursando">
                                    <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar materias" width="16">
                                </button>
                        </h5>
                        <ul class="list-group my-3">
                            {% for materia in data['materias_cursando'] %}
                                <li class="list-group-item materia-background nombre-grupo text-center">{{ materia.nombre }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Materias Aprobadas -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias aprobadas
                                <button class="btn icono-lapiz border-0" data-bs-toggle="modal" data-bs-target="#modalEditarMateriasAprobadas">
                                    <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar materias" width="16">
                                </button>
                        </h5>
                        <ul class="list-group my-3">
                            {% for materia in data['materias_aprobadas'] %}
                                <li class="list-group-item materia-background nombre-grupo text-center">{{ materia.nombre }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Horarios disponibles -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Horarios disponibles
                                <button id="boton_editar_horarios_disponibles" class="btn icono-lapiz border-0" data-bs-toggle="modal" data-bs-target="#modalEditarHorariosUsuario">
                                    <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar" width="16">
                                </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3 text-start">
                            {% set simbolos = {'mañana': 'M', 'tarde': 'T', 'noche': 'N'} %}
                            {% for dia, turnos in data['horarios_por_dia_usuario'].items() %}
                                <li class="list-group-item materia-background nombre-grupo mx-0 px-0">
                                    {{ dia|capitalize }}:
                                    {% for turno in turnos %}
                                           {{ simbolos[turno] }}{% if not loop.last %} - {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">    <!-- Grupos -->
        <h4 class="text-center mb-4" id="titulo-grupos"><u>Grupos</u>
                <button id="btn-agregar-grupo" class="btn border-0" data-bs-toggle="modal" data-bs-target="#modalAgregarGrupo"><img src="{{ url_for('static', filename='img/iconos/agregar.png') }}" alt="Agregar grupo">
                </button>
        </h4>
        <div class="row gap-2 justify-content-center">
            {% for grupo in data['grupos'] %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="p-4 card grupo-card-background h-100 border-0 d-flex flex-column justify-content-between">
                        <div class="card-body info-grupo-background p-3 d-flex flex-column justify-content-between position-relative">
                            <button class="btn border-0 icono-lapiz position-absolute m-2 p-0"
                                data-bs-toggle="modal"
                                data-bs-target="#modalEditarGrupo"
                                data-grupo-id="{{ grupo.grupo_id }}"    
                                data-nombre="{{ grupo.nombre }}"
                                data-maximo-integrantes="{{ grupo.maximo_integrantes }}"
                                data-integrantes='{{ grupo.integrantes | tojson }}'
                                data-horarios='{{ grupo.horarios | tojson }}'
                                onclick="abrirModalEditarGrupo(this)">
                                <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="editar grupo">
                            </button>
                            <div class="mb-2 pe-4"><span id="nombre-grupo" class="fw-bold nombre-grupo-text-break d-block pe-2">{{ grupo.nombre }}</span>
                            </div>
                            <span class="text-white">{{ grupo.materia_nombre }}</span><br>
                            <span>{{ grupo.cantidad_integrantes }} integrantes</span>
                        </div>
                        <div class="mt-2 d-block justify-content-center">
                            <button type="button" class="btn-info-grupo btn-info-grupo w-100" data-bs-toggle="modal" data-bs-target="#modalGrupo{{ grupo.grupo_id }}">
                                INFO
                            </button>
                            <form method="POST" action="{{ url_for('cambiar_estado_tp', grupo_id=grupo.grupo_id) }}">
                                {% if grupo.tp_terminado %}
                                    <button type="submit" class="btn-estado-entregado btn btn-sm w-100 my-1">ENTREGADO</button>
                                {% else %}
                                    <button type="submit" class="btn-estado-en-curso btn btn-sm w-100 my-1">EN CURSO</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalGrupo{{ grupo.grupo_id }}" tabindex="-1" aria-labelledby="modalGrupoLabel{{ grupo.grupo_id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-dark text-white rounded-4 p-4 border-0 position-relative">
                            <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3"
                            data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            <h5 class="nombre_del_grupo modal-title text-center text-lilac mb-4 fs-3" id="modalGrupoLabel{{ grupo.grupo_id }}"> {{ grupo.nombre }}</h5>
                            <div class="modal-body d-flex flex-row justify-content-between gap-5 flex-wrap">
                                <div class="me-5 ms-0 align-text-start">
                                    <ul class="list-unstyled">
                                        <li class="fw-light">Integrantes <img src="{{ url_for('static', filename='img/iconos/integrantes.png') }}" alt="Integrantes" width="30" height="30">  </li>
                                        {% for integrante in grupo.integrantes %}
                                            <li class="fw-bold my-1">{{ integrante.nombre }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="flex-fill">
                                    <p class="fw-bold mb-2">Horarios disponibles para trabajar junt@s:</p>
                                    <table class="table table-sm text-center">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Lu</th>
                                                <th>Ma</th>
                                                <th>Mié</th>
                                                <th>Ju</th>
                                                <th>Vi</th>
                                                <th>Sá</th>
                                                <th>Do</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for turno in ['mañana', 'tarde', 'noche'] %}
                                                <tr>
                                                    <th>{{ turno|capitalize }}</th>
                                                    {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                                        <td>
                                                            {% if (dia ~ '-' ~ turno) in grupo.horarios %}
                                                                <img src="{{ url_for('static', filename='img/iconos/checked.png') }}" alt="Disponible" width="30" height="30">
                                                            {% else %}
                                                                <img src="{{ url_for('static', filename='img/iconos/x.png') }}" alt="No disponible" width="15" height="15">
                                                            {% endif %}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="modal" id="modalEditarFotoPerfil">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Elegí tu avatar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 justify-content-center">
                        {% for avatar in data['avatares'] %}
                        <div class="col-4 col-sm-4 col-md-3 col-lg-2 text-center">
                            <form method="POST" action="{{ url_for('editar_perfil_usuario', padron=data['padron']) }}">
                                <input type="hidden" name="campo" value="avatar_url">
                                <input type="hidden" name="valor" value="{{ avatar }}">
                                <button type="submit" data-bs-dismiss="modal" class="btn p-0">
                                    <img id="avatar-img" src="{{ url_for('static', filename='img/avatares/' + avatar) }}" alt="Avatar" class="rounded-circle img-fluid">
                                </button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalEditarNombre">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Editar nombre</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST" action="{{ url_for('editar_perfil_usuario', padron=data['padron']) }}">
                    <div class="modal-body d-flex flex-column align-items-center w-100">
                        <input type="hidden" name="campo" value="nombre" class="inputEditarCampo w-100"></input>
                        <input type="text" name="valor" value="{{ data['datos_usuario'].nombre }}" class="w-100"></input>
                    </div>
                    <div class="modal-footer border-0 justify-content-center">
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-guardar">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="modalEditarCarrera">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Editar carrera</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST" action="{{ url_for('editar_perfil_usuario', padron=data['padron']) }}">
                    <div class="modal-body d-flex flex-column align-items-center w-100">
                        <input type="hidden" name="campo" value="carrera" class="inputEditarCampo w-100"></input>
                        <input type="text" name="valor" value="{{ data['datos_usuario'].carrera }}" class="w-100"></input>
                    </div>
                    <div class="modal-footer border-0 justify-content-center">
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-guardar">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="modalSobreMi">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0"><h5>Editar bio</h5></div>
                <form method="POST" action="{{ url_for('editar_perfil_usuario', padron=data['padron']) }}">
                    <div class="modal-body">
                        <textarea id="text-area-editar-sobre-mi" name="valor" class="w-100">{{ data['datos_usuario'].sobre_mi }}</textarea>
                        <input type="hidden" name="campo" value="sobre_mi">
                        <div class="d-flex justify-content-center gap-2 mt-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-guardar">GUARDAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="modalEditarMateriasCursando">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-3">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Editar Materias Cursando</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group mb-2">
                        {% for materia in data['materias_cursando'] %}
                        <li class="list-group-item d-flex justify-content-between materia-background align-items-center fw-normal">
                            {{ materia.nombre }}
                            <form method="POST" action="{{ url_for('eliminar_materia_cursando', padron=data['padron']) }}">
                                <input type="hidden" name="materia_codigo" value="{{ materia.materia_codigo }}">
                                <button type="submit" class="btn btn-sm" title="Eliminar">
                                    <img src="{{ url_for('static', filename='img/iconos/eliminar.png') }}" alt="Eliminar" width="26" height="26">
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                    <form method="POST" action="{{ url_for('agregar_materias_cursando', padron=data['padron']) }}">
                        <div class="text-start mb-2"><label class="form-label">Seleccioná tus materias:</label></div>
                        <div class="barra-desplazamiento-materias w-100 mb-3 d-flex gap-2 align-items-center text-center">
                            {% for materia in data['materias_para_elegir_cursando'] %}
                            <div class="d-flex align-items-center gap-3">
                                <label class="check-input-materia form-label">
                                    <input type="checkbox" name="materias" value="{{ materia.materia_codigo }}" class="d-none">
                                    <div class="materia-box p-2">{{ materia.nombre }}</div>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex row my-2 gap-2 text-start px-2">
                            <label for="nombreNuevaMateria" class="form-label mt-3">Agregar nueva materia:</label>
                            <input type="text" class="input-agregar-materia" id="nombreNuevaMateria" name="nueva_materia" placeholder="Escribí el nombre de la materia nueva">
                            <label for="codigoNuevaMateria" class="form-label mt-3">Código de la materia:</label>
                            <input type="text" class="input-agregar-materia" id="codigoNuevaMateria" name="codigo_nueva_materia" placeholder="Escribí el código de la materia nueva">
                        </div>
                        <div class="text-center">
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-guardar mt-3 text-center">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modalEditarMateriasAprobadas">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-3">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Editar Materias Aprobadas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group my-3">
                        {% for materia in data['materias_aprobadas'] %}
                        <li class="list-group-item d-flex justify-content-between materia-background align-items-center fw-normal">
                            {{ materia.nombre }}
                            <form method="POST" action="{{ url_for('eliminar_materia_aprobada', padron=data['padron']) }}">
                                <input type="hidden" name="materia_codigo" value="{{ materia.materia_codigo }}">
                                <button type="submit" class="btn btn-sm" title="Eliminar">
                                    <img src="{{ url_for('static', filename='img/iconos/eliminar.png') }}" alt="Eliminar" width="26" height="26">
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                    <form method="POST" action="{{ url_for('agregar_materias_aprobadas', padron=data['padron']) }}">
                        <div class="text-start mb-2"><label class="form-label">Seleccioná tus materias:</label></div>
                        <div class="barra-desplazamiento-materias w-100 mb-3 d-flex gap-2 align-items-center text-center">
                            {% for materia in data['materias_para_elegir_aprobadas'] %}
                            <div class="d-flex align-items-center gap-3">
                                <label class="check-input-materia form-label">
                                    <input type="checkbox" name="materias" value="{{ materia.materia_codigo }}" class="d-none">
                                    <div class="materia-box p-2">{{ materia.nombre }}</div>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex row my-2 gap-2 text-start px-2">
                            <label for="nombreNuevaMateria" class="form-label mt-3">Agregar nueva materia:</label>
                            <input type="text" class="input-agregar-materia" id="nombreNuevaMateria" name="nueva_materia" placeholder="Escribí una materia nueva">
                            <label for="codigoNuevaMateria" class="form-label mt-3">Código de la materia:</label>
                            <input type="text" class="input-agregar-materia" id="codigoNuevaMateria" name="codigo_nueva_materia" placeholder="Escribí el código de la materia nueva">
                        </div>
                        <div class="text-center">
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-guardar mt-3 text-center">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modalEditarHorariosUsuario">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-4">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Editar horarios disponibles</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('editar_horarios_usuario', padron=data['padron']) }}">
                        <div class="table-responsive">
                            <table class="table p-3 tabla-horarios text-center align-middle">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Lu</th>
                                        <th>Ma</th>
                                        <th>Mié</th>
                                        <th>Ju</th>
                                        <th>Vi</th>
                                        <th>Sá</th>
                                        <th>Do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set imagenes_turno = {'mañana': 'mañana.png', 'tarde': 'tarde.png', 'noche': 'noche.png'} %}
                                    {% for turno in ['mañana', 'tarde', 'noche'] %}
                                        <tr>
                                            <th>
                                                <img src="{{ url_for('static', filename='img/horarios/' + imagenes_turno[turno]) }}" alt="{{ turno }}" class="icono-horario">
                                            </th>
                                            {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                                <td>
                                                    <input type="checkbox" name="{{ dia }}_{{ turno }}"
                                                    {% if (data['horarios_por_dia_usuario']).get(dia) and turno in (data['horarios_por_dia_usuario'])[dia] %}checked{% endif %}>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="my-3 text-center">
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-guardar">Guardar horarios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modalAgregarGrupo">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title w-100 text-center fw-bold">Agregar nuevo grupo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <form method="POST" action="{{ url_for('agregar_grupo', padron=data['padron']) }}">
                        <div class="d-flex justify-content-center">
                            <div class="col mx-5 text-start align-items-start">
                                <div class="row">
                                    <label for="materiaGrupo" class="form-label"> Materia</label>
                                    <select class="form-control" id="materiaGrupo" name="materiaGrupo" onchange="cambiarDatalistPadronesParaElegir()">
                                        {% for materia in data['materias_para_select'] %}
                                            <option value="{{ materia.materia_codigo }}">{{ materia.nombre }} ({{ materia.materia_codigo }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row">
                                    <label for="nombreGrupo" class="form-label">Nombre del grupo</label>
                                    <input type="text" class="form-control" id="nombreGrupo" name="nombreGrupo">
                                </div>
                                <div class="row">
                                    <label for="cantidadIntegrantes" class="form-label">Cantidad máxima de integrantes</label>
                                    <input type="number" class="form-control" id="cantidadMaxIntegrantes" name="cantidadMaxIntegrantes">
                                </div>
                            </div>
                            <div class="col mx-5">
                                <div class="row">
                                    <label for="padronIntegrante" class="form-label">Agregar integrante (padrón):</label>
                                    <div class="input-group">
                                        {% if data['materias_para_select']|length > 0 %}
                                            <input type="text" class="form-control" id="padronIntegrante" name="padronNuevoIntegrante" list="sugerenciasPadrones_{{ data['materias_para_select'][0].materia_codigo }}">
                                        {% else %}
                                            <input type="text" class="form-control" id="padronIntegrante" name="padronNuevoIntegrante" disabled placeholder="No hay materias disponibles">
                                        {% endif %}
                                        <button type="button" class="btn btn-lg text-white fw-bold icono-lapiz" id="btnAgregarIntegrante" onclick="agregarIntegrante()">
                                            <img src="{{ url_for('static', filename='img/iconos/agregar-integrante.png') }}" alt="Añadir integrante">
                                        </button>
                                    </div>
                                </div>
                                {% for materia in data['materias_para_select'] %}
                                    <datalist id="sugerenciasPadrones_{{ materia.materia_codigo }}">
                                        {% for companierx in materia.companierxs %}
                                            <option value="{{ companierx.padron }}">{{ companierx.nombre }}</option>
                                        {% endfor %}
                                    </datalist>
                                {% endfor %}
                                <div class="mb-3">
                                    <label class="form-label">Integrantes:</label>
                                    <div id="listaIntegrantes" class="d-flex flex-wrap gap-2">

                                    </div>
                                </div>
                                <input type="hidden" name="padrones_integrantes" id="padronesIntegrantesInput">     <!-- campo oculto para enviar los padrones al backend -->
                            </div>
                        </div>  
                        <label class="form-label mt-3">Horarios disponibles del grupo:</label>
                        <div class="table-responsive justify-content-center">
                            <table class="table p-3 tabla-horarios text-center align-middle">
                                <thead>
                                    <tr>
                                        <th><i class="fa-regular fa-clock"></i></th>
                                        <th>Lu</th><th>Ma</th><th>Mié</th><th>Ju</th><th>Vi</th><th>Sá</th><th>Do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set imagenes_turno = {'mañana': 'mañana.png', 'tarde': 'tarde.png', 'noche': 'noche.png'} %}
                                    {% for turno in ['mañana', 'tarde', 'noche'] %}
                                        <tr>
                                            <th>
                                                <img src="{{ url_for('static', filename='img/horarios/' + imagenes_turno[turno]) }}" alt="{{ turno }}" class="icono-horario">
                                            </th>
                                            {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                                <td>
                                                    <input type="checkbox" name="grupo_horario_{{ dia }}_{{ turno }}">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-lg text-white fw-bold btn-guardar">AGREGAR GRUPO</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modalEditarGrupo">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title w-100 text-center fw-bold">Editar grupo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form id="formEditarGrupo" method="POST">
                    <div class="modal-body d-flex flex-column">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="editarNombreGrupo" class="form-label">Nombre del grupo</label>
                                <input type="text" class="form-control" id="editarNombreGrupo" name="nombreGrupo">
                            </div>
                            <div class="col">
                                <label for="editarCantidadMaxIntegrantes" class="form-label">Cantidad máxima de integrantes</label>
                                <input type="number" class="form-control" id="editarCantidadMaxIntegrantes" name="editarCantidadMaxIntegrantes">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Integrantes actuales:</label>
                            <div id="editarListaIntegrantes" class="d-flex flex-wrap gap-2">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editarPadronIntegrante" class="form-label">Agregar integrante (padrón):</label>
                            <div class="input-group gap-3">
                                <input type="text" id="editarPadronIntegrante" class="form-control">
                                <button type="button" class="btn btn-lg text-white fw-bold icono-lapiz" id="btnEditarAgregarIntegrante" onclick="agregarIntegranteEditar()">
                                    <img src="{{ url_for('static', filename='img/iconos/agregar-integrante.png') }}" alt="Añadir integrante">
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="padrones_integrantes" id="editarPadronesIntegrantesInput">
                        <label class="form-label mt-3">Horarios disponibles del grupo:</label>
                        <div class="table-responsive justify-content-center">
                            <table class="table p-3 tabla-horarios text-center align-middle">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Lu</th>
                                        <th>Ma</th>
                                        <th>Mié</th>
                                        <th>Ju</th>
                                        <th>Vi</th>
                                        <th>Sá</th>
                                        <th>Do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set imagenes_turno = {'mañana': 'mañana.png', 'tarde': 'tarde.png', 'noche': 'noche.png'} %}
                                    {% for turno in ['mañana', 'tarde', 'noche'] %}
                                        <tr>
                                            <th>
                                                <img src="{{ url_for('static', filename='img/horarios/' + imagenes_turno[turno]) }}" alt="{{ turno }}" class="icono-horario">
                                            </th>
                                            {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                                <td>
                                                    <input type="checkbox" name="grupo_horario_{{ dia }}_{{ turno }}" id="editarGrupoHorario_{{ dia }}_{{ turno }}">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button type="submit" data-bs-dismiss="modal" class="btn btn-lg text-white fw-bold btn-guardar">GUARDAR CAMBIOS</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>

{% endblock %}