{% extends "base.html" %}


{% block tittle %}Perfil de Usuario{% endblock %}

{% block content %}

    <!--modals-->
    <div id="modal_cerrar_sesion" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <h2 class="titulo_perfil">¿Desea cerrar sesion?</h2>
            <form class="form_perfil" action="{{ url_for('logout') }}" method="post">
                <button type="submit" id="btn_cerrar_perfil" class="btn_de_los_modals">CERRAR SESION</button>
            </form>
        </div>
    </div>

    <!--modal para editar la foto de perfil-->
    <div id="modal_editar_perfil" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Foto de perfil</span>
            <div id="contenedor_de_circulo_de_foto_de_perfil">
                <div id="circulo_de_foto_de_perfil">
                    <img class="foto_perfil_img" src="{{ url_for('static', filename='img/icono_imagen_perfil.png') }}" alt="Foto de Perfil">
                </div>                
            </div>
            <div class="fila_info">
                <div class="botones_editar_perfil">
                    <button class="button_trasparente_editar"> 
                        <img class="boton_editar_perfil_modal" src="{{ url_for('static', filename='img/icono_editar_imagen.png') }}">
                    </button>
                </div>

                <div class="botones_editar_perfil">
                    <button class="button_trasparente_editar"> 
                        <img class="boton_editar_perfil_modal" src="{{ url_for('static', filename='img/icono_eliminar.png') }}">
                    </button>
                </div> 
            </div>
        </div>
    </div>

    <!--modal para editar las materias que estan cursando-->
    <div id="modal_materias_cursando" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Añadir materia</span>
            <div class="contenido_de_modal">
                <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el nombre de la materia"></input>                
            </div>
            <div>
                <span class="contenido_de_modal">¿Estas en un grupo?</span>
                <input type="checkbox">si</input>
                <input type="checkbox">no</input>
            </div>
            <div class="btn_agregar_materia">
                <button type="submit" class="btn_de_los_modals">AGREGAR</button>
            </div>                
        </div>
    </div>

    <div id="modal_materias_Aprobadas" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Añadir materia</span>
            <div class="contenido_de_modal">
                <input type="text" class="introducir_informacion_cuadro" placeholder="Escribe el nombre de la materia"></input>                
            </div>
            <div>
                <span class="contenido_de_modal">¿Estas en un grupo?</span>
                <input type="checkbox">si</input>
                <input type="checkbox">no</input>
            </div>
            <div class="btn_agregar_materia">
                <button type="submit" class="btn_de_los_modals">AGREGAR</button>
            </div>
        </div>
    </div>

    <!--modal para editar los horarios disponibles-->
    <div id="modal_horarios_disponibles" class="desplegable">
        <div class="banner_perfil_desplegable">
            <span id="close_modal" class="close_modal">x</span>
            <span class="contenido_de_modal">Añadir horario</span>
            <div id="texto_de_horarios">
                <h5>¿Durante que horario estas disponible?</h5>
            </div>            
        </div>
    </div>

    <div id="perfil">
        <div id="banner_perfil">
            <form method="POST" enctype="multipart/form-data">
                <label for="input-banner">
                        <img id='img_cambiar_banner'src="{{ url_for('static', filename='img/icono_camara.png') }}" >
                </label>
                <input type="file" id="input-banner" name="imagen-banner" style="display:none;" onchange="this.form.submit()">
            </form>
        </div>

        <div id="foto_de_perfil">
            <button id="boton_editar_foto_de_perfil" class="button_editar_foto_de_perfil">
                <img class='foto_perfil_img' src="{{ url_for('static', filename='img/icono_imagen_perfil.png') }}" alt="Foto de Perfil">
            </button> 
        </div>

        <div class="editar_foto">
            <!--agregegar un modulo que deje editar la foto de perfil-->
            <button  class="button_editar_foto_de_perfil"><img class='icono_lapiz' src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Foto de Perfil"></button>
        </div>
                
        <div id="datos_usuario">
            <div class="fila-datos">
                <h2 class="datos">nombre de compañer@</h2>
                <span class="datos">Universidad</span>
            </div>

            <span>Carrera</span>
            <h2> Sobre mi</h2>
            <div class="contenedor_textarea">
                <textarea id="sobre_mi" type="text" placeholder="Escribe algo sobre ti..."></textarea>
                <button id="editar_bio">
                    <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar sobre mi">
                    <!--deberia dejar editar la bio cuando presione este botton-->
                </button>                    
            </div>
        </div>

        <div>
            <div class="fila_info">
                <span class="info_relevante">
                    Materias cursando 
                    <button id="boton_editar_materias_cursando" class="button_trasparente_editar">
                        <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar sobre mi">
                    </button>
                </span>
                <span class="info_relevante">Materias aprobadas
                    <button id="boton_editar_materias_Aprobadas" class="button_trasparente_editar">
                        <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar sobre mi">
                    </button>
                </span>
                <span class="info_relevante">Horarios disponibles
                    <button id="boton_editar_horarios_disponibles" class="button_trasparente_editar">
                        <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar sobre mi">
                    </button>
                </span>
            </div>

            <div class="fila_info">
                <textarea class="caja_de_texto_info" type="text" placeholder="Escribe las materias cursando..."></textarea>
                <textarea class="caja_de_texto_info" type="text" placeholder="Escribe las materias las aprobadas..."></textarea>
                <textarea class="caja_de_texto_info" type="text" placeholder="Escribe tus Horarios"></textarea>
            </div>
                    
            <div>
                <div class="fila_info">                    
                    <div class="grupos_del_usuario">
                        <div class="grupos_actuales_del_usuario">
                            <div class="informacion_inicial_grupo">
                                <div class="nombre_del_grupo_perteneciente">
                                    <span class="nombre_del_grupo">Nombre del grupo</span>
                                    <button class="button_trasparente_editar">
                                        <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar grupo">
                                    </button>
                                </div>
                                <span class="cantidad_de_integrantes_numero">Cantidad de integrantes</span>
                            </div>
                            <button class="button_usuario_info_grupo">INFO</button>
                            <button class="button_usuario_entregado_grupo">ENTREGADO</button>
                        </div>
                    </div>    
                        
                    <div class="grupos_del_usuario">
                        <div class="grupos_actuales_del_usuario">
                            <div class="informacion_inicial_grupo">
                                <div class="nombre_del_grupo_perteneciente">
                                    <span class="nombre_del_grupo">Nombre del grupo</span>
                                    <button class="button_trasparente_editar">
                                        <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar grupo">
                                    </button>
                                </div>
                                <span class="cantidad_de_integrantes_numero">Cantidad de integrantes</span>
                            </div>
                            <button class="button_usuario_info_grupo">INFO</button>
                            <button class="button_usuario_entregado_grupo">ENTREGADO</button>
                        </div>
                    </div>

                    <div class="grupos_del_usuario">
                        <div class="grupos_actuales_del_usuario">
                            <div class="informacion_inicial_grupo">
                                <div class="nombre_del_grupo_perteneciente">
                                    <span class="nombre_del_grupo">Nombre del grupo</span>
                                    <button class="button_trasparente_editar">
                                        <img class="icono_lapiz" src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar grupo">
                                    </button>
                                </div>
                                <span class="cantidad_de_integrantes_numero">Cantidad de integrantes</span>
                            </div>
                            <button class="button_usuario_info_grupo">INFO</button>
                            <button class="button_usuario_entregado_grupo">ENTREGADO</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>   

{% endblock %}