{% extends "base.html" %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div id="perfil" class="position-relative d-flex flex-column">

    <!-- Banner del perfil -->
    <div id="banner_perfil" class="mb-5 position-relative" style="background-color: {{ usuario.banner_color }};" onclick="document.getElementById('color_selector_banner').click()">
        <form id="formColorBanner" method="POST" action="/usuario/{{ usuario.padron }}/editar-perfil" style="display:none;">
            <input type="hidden" name="campo" value="banner_color">
            <input type="color" id="color_selector_banner" name="valor" value="{{ usuario.banner_color }}" onchange="document.getElementById('formColorBanner').submit();">
        </form>
        <div id="foto_de_perfil" class="position-absolute">
            <button id="boton_editar_foto_de_perfil" class="p-0 border-0 btn" data-bs-toggle="modal" data-bs-target="#modalEditarFotoPerfil" onclick="event.stopPropagation()">
                <img class="foto_perfil_img" src="{{ url_for('static', filename='img/avatares/' + usuario.avatar_url) }}" alt="Foto de perfil">
            </button>
        </div>
    </div>

    <!-- Datos del usuario -->
    <div id="datos_usuario" class="mt-4">
        <div class="d-flex">
            <h4 id="nombre_usuario" class="titulo_datos_usuario">{{ usuario.nombre }}</h4>
            <button type="button" class="btn p-0 icono-lapiz border-0" data-bs-toggle="modal" data-bs-target="#modalEditarNombre">
                <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar" width="16">
            </button>
        </div>
        <div class="d-flex my-2">
            <h5 id="carrera_usuario" class="titulo_datos_usuario">{{ usuario.carrera }}</h5>
            <button class="btn icono-lapiz border-0" data-bs-toggle="modal" data-bs-target="#modalEditarCarrera">
                <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar" width="16">
            </button>
        </div>
        <div class="d-flex flex-wrap align-items-center gap-2  my-2 mb-3">
            <h6 class="titulo_datos_usuario"> Sobre mí</h6>
            <textarea id="sobre_mi_usuario" class="w-100 p-4 border-0" placeholder="Escribí algo sobre vos..." readonly data-bs-toggle="modal" data-bs-target="#modalSobreMi">{{ usuario.sobre_mi }}</textarea>
        </div>
    </div>

    <!-- Materias y horarios -->
    <div class="container my-3">
        <div class="row g-5 justify-content-center">
            <!-- Materias Cursando -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias cursando
                            <button class="btn border-0 icono-lapiz" data-bs-toggle="modal" data-bs-target="#modalEditarMateriasCursando">
                                <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group my-3">
                            {% for materia in materias_cursando %}
                                <li class="list-group-item materia-background nombre-grupo text-center">{{ materia.nombre }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Materias Aprobadas -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias aprobadas
                            <button id="boton_editar_materias" class="btn icono-lapiz border-0" data-bs-toggle="modal" data-bs-target="#modalEditarMateriasAprobadas">
                                <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group my-3">
                            {% for materia in materias_aprobadas %}
                                <li class="list-group-item materia-background nombre-grupo text-center">{{ materia.nombre }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Horarios disponibles -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Horarios disponibles
                            <button id="boton_editar_horarios_disponibles" class="btn icono-lapiz border-0" data-bs-toggle="modal" data-bs-target="#modalEditarHorariosUsuario">
                                <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="Editar" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3 text-start">
                            {% set simbolos = {'mañana': 'M', 'tarde': 'T', 'noche': 'N'} %}
                            {% for dia, turnos in horarios_por_dia_usuario.items() %}
                                <li class="list-group-item materia-background nombre-grupo mx-0 px-0">
                                    {{ dia|capitalize }}:
                                    {% for turno in turnos %}
                                           {{ simbolos[turno] }}{% if not loop.last %} - {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Grupos -->
    <div class="container mb-5">
        <h4 class="text-center mb-4" id="titulo-grupos"><u>Grupos</u>
            <button id="btn-agregar-grupo" class="btn border-0" data-bs-toggle="modal" data-bs-target="#modalAgregarGrupo">
                <img src="{{ url_for('static', filename='img/iconos/agregar.png') }}" alt="Agregar grupo">
            </button>
        </h4>
        <div class="row g-4 justify-content-center">
            {% for grupo in grupos %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="p-3 grupo-card-background h-100 d-flex flex-column justify-content-between">
                    <div class="info-grupo-background">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span id="nombre-grupo" class="fw-bold">{{ grupo.nombre }}</span>
                            <!-- para identificar a cada grupo con su botón de editar -->
                            <button class="btn border-0 icono-lapiz"
                                data-bs-toggle="modal"
                                data-bs-target="#modalEditarGrupo"
                                data-grupo-id="{{ grupo.grupo_id }}"    
                                data-nombre="{{ grupo.nombre }}"
                                data-maximo-integrantes="{{ grupo.maximo_integrantes }}"
                                data-integrantes='{{ grupo.integrantes | tojson }}'
                                data-horarios='{{ grupo.horarios | default([]) | tojson }}'
                                onclick="abrirModalEditarGrupo(this)">
                                <img src="{{ url_for('static', filename='img/iconos/lapiz.png') }}" alt="editar grupo">
                            </button>
                        </div>
                        <span>{{ grupo.materia }}</span><br>
                        <span>{{ grupo.cantidad_integrantes }} integrantes</span>
                    </div>
                    <div class="mt-2 d-block justify-content-center">
                        <button id="btn-info-grupo" class="btn btn-sm w-100 me-2 my-1">INFO</button>
                        <button id="btn-estado-tp" class="btn btn-success btn-sm w-100 my-1">ENTREGADO</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>





    <!-- Modales -->

    <!-- Modal para editar la foto de perfil-->
    <div class="modal" id="modalEditarFotoPerfil">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Elegí tu avatar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row g-3 justify-content-center">
                        {% for avatar in avatares %}
                        <div class="col-4 col-sm-4 col-md-3 col-lg-2 text-center">
                            <form method="POST" action="/usuario/{{ usuario.padron }}/editar-perfil">
                                <input type="hidden" name="campo" value="avatar_url">
                                <input type="hidden" name="valor" value="{{ avatar }}">
                                <button type="submit" class="btn p-0">
                                    <img id="avatar_img" src="{{ url_for('static', filename='img/avatares/' + avatar) }}" alt="Avatar" class="rounded-circle img-fluid">
                                </button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar nombre-->
    <div class="modal" id="modalEditarNombre">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="modalEditarCampoTitulo">Editar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST" action="/usuario/{{ usuario.padron }}/editar-perfil">
                    <div class="modal-body d-flex flex-column align-items-center w-100">
                        <input type="hidden" name="campo" value="nombre" class="inputEditarCampo w-100"></input>
                        <input type="text" name="valor" value="{{ usuario.nombre }}" class="inputEditarCampo w-100"></input>
                    </div>
                    <div class="modal-footer border-0 justify-content-center">
                        <button type="button" class="btn btn-guardar"">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para editar carrera-->
    <div class="modal" id="modalEditarCarrera">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="modalEditarCampoTitulo">Editar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST" action="/usuario/{{ usuario.padron }}/editar-perfil">
                    <div class="modal-body d-flex flex-column align-items-center w-100">
                        <input type="hidden" name="campo" value="carrera" class="inputEditarCampo w-100"></input>
                        <input type="text" name="valor" value="{{ usuario.carrera }}" class="inputEditarCampo w-100"></input>
                    </div>
                    <div class="modal-footer border-0 justify-content-center">
                        <button type="button" class="btn btn-guardar">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal para editar el cuadro de texto "Sobre mí" -->
    <div class="modal" id="modalSobreMi">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0"><h5>Editar bio</h5></div>
                <form method="POST" action="/usuario/{{ usuario.padron }}/editar-perfil">
                    <div class="modal-body">
                        <textarea id="textareaEditarSobreMi" name="valor" class="w-100">{{ usuario.sobre_mi }}</textarea>
                        <input type="hidden" name="campo" value="sobre_mi">
                        <div class="d-flex justify-content-center gap-2 mt-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
                            <button type="submit" class="btn btn-guardar">GUARDAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- Modal para editar materias cursando -->
    <div class="modal" id="modalEditarMateriasCursando">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-3">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Editar Materias Cursando</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Lista de materias cursando con botón de eliminar -->
                    <ul class="list-group my-3">
                        {% for materia in materias_cursando %}
                        <li class="list-group-item d-flex justify-content-between materia-background align-items-center fw-normal">
                            {{ materia.nombre }}
                            <form method="POST" action="/usuario/{{ usuario.padron }}/eliminar-materia-cursando">
                                <input type="hidden" name="materia_codigo" value="{{ materia.materia_codigo }}">
                                <button type="submit" class="btn btn-sm btn-danger" title="Eliminar">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                    <form method="POST" action="/usuario/{{ usuario.padron }}/editar-materias-cursando">
                        <div class="text-start mb-2"><label class="form-label">Seleccioná tus materias:</label></div>
                        <div class="mb-3 d-flex gap-2 align-items-center text-center">
                            {% for materia in materias_para_elegir_cursando %}
                            <div class="d-flex align-items-center gap-3">
                                <label class="check-input-materia form-label">
                                    <input type="checkbox" name="materias" value="{{ materia.materia_codigo }}" class="d-none">
                                    <div class="materia-box p-2">{{ materia.nombre }}</div>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex row my-2 gap-2 text-start px-2">
                            <label for="nombreNuevaMateria" class="form-label mt-3">Agregar nueva materia:</label>
                            <input type="text" class="input-agregar-materia" id="nombreNuevaMateria" name="nueva_materia" placeholder="Escribí una materia nueva">
                            <label for="codigoNuevaMateria" class="form-label mt-3">Código de la materia:</label>
                            <input type="text" class="input-agregar-materia" id="codigoNuevaMateria" name="codigo_nueva_materia" placeholder="Escribí el código de la materia nueva">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-guardar mt-3 text-center">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para editar materias aprobadas -->
    <div class="modal" id="modalEditarMateriasAprobadas">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-3">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Editar Materias Aprobadas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <!-- Lista de materias aprobadas con botón de eliminar -->
                    <ul class="list-group my-3">
                        {% for materia in materias_aprobadas %}
                        <li class="list-group-item d-flex justify-content-between materia-background align-items-center fw-normal">
                            {{ materia.nombre }}
                            <form method="POST" action="/usuario/{{ usuario.padron }}/eliminar-materia-aprobada">
                                <input type="hidden" name="materia_codigo" value="{{ materia.materia_codigo }}">
                                <button type="submit" class="btn btn-sm btn-danger" title="Eliminar">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                    <form method="POST" action="/usuario/{{ usuario.padron }}/editar-materias-aprobadas">
                        <div class="text-start mb-2"><label class="form-label">Seleccioná tus materias:</label></div>
                        <div class="mb-3 d-flex gap-2 align-items-center text-center">
                            {% for materia in materias_para_elegir_aprobadas %}
                            <div class="d-flex align-items-center gap-3">
                                <label class="check-input-materia form-label">
                                    <input type="checkbox" name="materias" value="{{ materia.materia_codigo }}" class="d-none">
                                    <div class="materia-box p-2">{{ materia.nombre }}</div>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex row my-2 gap-2 text-start px-2">
                            <label for="nombreNuevaMateria" class="form-label mt-3">Agregar nueva materia:</label>
                            <input type="text" class="input-agregar-materia" id="nombreNuevaMateria" name="nueva_materia" placeholder="Escribí una materia nueva">
                            <label for="codigoNuevaMateria" class="form-label mt-3">Código de la materia:</label>
                            <input type="text" class="input-agregar-materia" id="codigoNuevaMateria" name="codigo_nueva_materia" placeholder="Escribí el código de la materia nueva">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-guardar mt-3 text-center">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para editar horarios disponibles del usuario -->
    <div class="modal" id="modalEditarHorariosUsuario">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-4">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Editar horarios disponibles</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/usuario/{{ usuario.padron }}/editar-horarios-usuario">
                        <div class="table-responsive">
                            <table class="table p-3 tabla-horarios text-center align-middle">
                                <thead>
                                    <tr>
                                        <th><i class="fa-regular fa-clock"></i></th>
                                        <th>Lu</th>
                                        <th>Ma</th>
                                        <th>Mié</th>
                                        <th>Ju</th>
                                        <th>Vi</th>
                                        <th>Sá</th>
                                        <th>Do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set imagenes_turno = {'mañana': 'mañana.png', 'tarde': 'tarde.png', 'noche': 'noche.png'} %}
                                    {% for turno in ['mañana', 'tarde', 'noche'] %}
                                        <tr>
                                            <th>
                                                <img src="{{ url_for('static', filename='img/horarios/' + imagenes_turno[turno]) }}" alt="{{ turno }}" class="icono-horario">
                                            </th>
                                            {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                                <td>
                                                    <input type="checkbox" name="{{ dia }}_{{ turno }}"
                                                    {% if horarios_por_dia_usuario.get(dia) and turno in horarios_por_dia_usuario[dia] %}checked{% endif %}>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="my-3 text-center">
                            <button type="submit" class="btn btn-guardar">Guardar horarios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para agregar grupo -->
    <div class="modal" id="modalAgregarGrupo">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title w-100 text-center">Agregar nuevo grupo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <form method="POST" action="/usuario/{{ usuario.padron }}/agregar-grupo">
                        <div class="d-flex justify-content-center">
                            <div class="col mx-5 text-start align-items-start">
                                <div class="row">
                                    <label for="materiaGrupo" class="form-label"> Materia</label>
                                    <select class="form-control" id="materiaGrupo" name="materiaGrupo" onchange="cambiarDatalistPadrones()">
                                        {% for materia in materias_para_select %}
                                            <option value="{{ materia.materia_codigo }}">{{ materia.nombre }} ({{ materia.materia_codigo }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row">
                                    <label for="nombreGrupo" class="form-label">Nombre del grupo</label>
                                    <input type="text" class="form-control" id="nombreGrupo" name="nombreGrupo">
                                </div>
                                <div class="row">
                                    <label for="cantidadIntegrantes" class="form-label">Cantidad máxima de integrantes</label>
                                    <input type="number" class="form-control" id="cantidadMaxIntegrantes" name="cantidadMaxIntegrantes">
                                </div>
                            </div>
                            <div class="col mx-5">
                                <div class="row">
                                    <label for="padronIntegrante" class="form-label">Agregar integrante (padrón):</label>
                                    <div class="input-group">
                                        {% if materias_para_select|length > 0 %}
                                            <input type="text" class="form-control" id="padronIntegrante" name="padronNuevoIntegrante" list="sugerenciasPadrones_{{ materias_para_select[0].materia_codigo }}">
                                        {% else %}
                                            <input type="text" class="form-control" id="padronIntegrante" name="padronNuevoIntegrante" disabled placeholder="No hay materias disponibles">
                                        {% endif %}
                                        <button type="button" class="btn btn-lg text-white fw-bold icono-lapiz" id="btnAgregarIntegrante" onclick="agregarIntegrante()">
                                            <img src="{{ url_for('static', filename='img/iconos/agregar-integrante.png') }}" alt="Añadir integrante">
                                        </button>
                                    </div>
                                </div>
                                {% for materia in materias_para_select %}
                                    <datalist id="sugerenciasPadrones_{{ materia.materia_codigo }}">
                                        {% for companierx in materia.companierxs %}
                                            <option value="{{ companierx.padron }}">{{ companierx.nombre }}</option>
                                        {% endfor %}
                                    </datalist>
                                {% endfor %}
                                <div class="mb-3">
                                    <label class="form-label">Integrantes actuales:</label>
                                    <div id="listaIntegrantes" class="d-flex flex-wrap gap-2">

                                    </div>
                                </div>
                                <!-- campo oculto para enviar los padrones al backend -->
                                <input type="hidden" name="padrones_integrantes" id="padronesIntegrantesInput">
                            </div>
                        </div>  
                        <label class="form-label mt-3">Horarios disponibles del grupo:</label>
                        <div class="table-responsive justify-content-center">
                            <table class="table p-3 tabla-horarios text-center align-middle">
                                <thead>
                                    <tr>
                                        <th><i class="fa-regular fa-clock"></i></th>
                                        <th>Lu</th><th>Ma</th><th>Mié</th><th>Ju</th><th>Vi</th><th>Sá</th><th>Do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set imagenes_turno = {'mañana': 'mañana.png', 'tarde': 'tarde.png', 'noche': 'noche.png'} %}
                                    {% for turno in ['mañana', 'tarde', 'noche'] %}
                                        <tr>
                                            <th>
                                                <img src="{{ url_for('static', filename='img/horarios/' + imagenes_turno[turno]) }}" alt="{{ turno }}" class="icono-horario">
                                            </th>
                                            {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                                <td>
                                                    <input type="checkbox" name="grupo_horario_{{ dia }}_{{ turno }}">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg text-white fw-bold btn-guardar">AGREGAR GRUPO</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Modal para editar grupo -->
    <div class="modal" id="modalEditarGrupo">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title w-100 text-center">Editar grupo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form id="formEditarGrupo" method="POST">
                    <div class="modal-body d-flex flex-column">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="editarNombreGrupo" class="form-label">Nombre del grupo</label>
                                <input type="text" class="form-control" id="editarNombreGrupo" name="nombreGrupo">
                            </div>
                            <div class="col">
                                <label for="editarCantidadMaxIntegrantes" class="form-label">Cantidad máxima de integrantes</label>
                                <input type="number" class="form-control" id="editarCantidadMaxIntegrantes" name="cantidadMaxIntegrantes">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Integrantes actuales:</label>
                            <div id="editarListaIntegrantes" class="d-flex flex-wrap gap-2">
                                <!-- el código de js agrega/elimina los integrantes del modal -->
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editarPadronIntegrante" class="form-label">Agregar integrante (padrón):</label>
                            <div class="input-group gap-3">
                                <input type="text" id="editarPadronIntegrante" class="form-control">
                                <button type="button" class="btn btn-lg text-white fw-bold icono-lapiz" id="btnEditarAgregarIntegrante" onclick="agregarIntegranteEditar()">
                                    <img src="{{ url_for('static', filename='img/iconos/agregar-integrante.png') }}" alt="Añadir integrante">
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="padrones_integrantes" id="editarPadronesIntegrantesInput">
                        <label class="form-label mt-3">Horarios disponibles del grupo:</label>
                        <div class="table-responsive justify-content-center">
                            <table class="table p-3 tabla-horarios text-center align-middle">
                                <thead>
                                    <tr>
                                        <th><i class="fa-regular fa-clock"></i></th>
                                        <th>Lu</th><th>Ma</th><th>Mié</th><th>Ju</th><th>Vi</th><th>Sá</th><th>Do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set imagenes_turno = {'mañana': 'mañana.png', 'tarde': 'tarde.png', 'noche': 'noche.png'} %}
                                    {% for turno in ['mañana', 'tarde', 'noche'] %}
                                        <tr>
                                            <th>
                                                <img src="{{ url_for('static', filename='img/horarios/' + imagenes_turno[turno]) }}" alt="{{ turno }}" class="icono-horario">
                                            </th>
                                            {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                                <td>
                                                    <input type="checkbox" name="grupo_horario_{{ dia }}_{{ turno }}" id="editarGrupoHorario_{{ dia }}_{{ turno }}">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg text-white fw-bold btn-guardar">GUARDAR CAMBIOS</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>

{% endblock %}