{% extends "base.html" %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div id="perfil" class="position-relative d-flex flex-column">

    <!-- Banner del perfil -->
    <div id="banner_perfil" class="mb-5 position-relative" onclick="document.getElementById('color_selector_banner').click()">
        <div>
            <input type="color" id="color_selector_banner" class="d-none" onchange="cambiarColorBanner(this.value)">
        </div>
        <div id="foto_de_perfil" class="position-absolute">
            <button id="boton_editar_foto_de_perfil" class="p-0 border-0 btn" data-bs-toggle="modal" data-bs-target="#modalEditarFotoPerfil" onclick="event.stopPropagation()">
                <img class="foto_perfil_img w-100" src="{{ url_for('static', filename='img/avatar-default.jpg') }}" alt="Foto de perfil">
            </button>
        </div>
    </div>

    <!-- Datos del usuario -->
    <div id="datos_usuario" class="mt-4">
        <div class="d-flex">
            <h4 id="nombre_usuario" class="titulo_datos_usuario m-4">Nombre de compañer@</h4>
            <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#modalEditarCampo" onclick="abrirEditorInfo('nombre')">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
        </div>
        <div class="d-flex my-2">
            <h6 id="universidad_usuario" class="titulo_datos_usuario m-4">Universidad</h6>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#modalEditarCampo" onclick="abrirEditorInfo('universidad')">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
        </div>
        <div class="d-flex my-2">
            <h6 id="carrera_usuario" class="titulo_datos_usuario m-4">Carrera</h6>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#modalEditarCampo" onclick="abrirEditorInfo('carrera')">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
        </div>
        <div class="d-flex flex-wrap align-items-center gap-2  my-2 mb-3">
            <h6 class="titulo_datos_usuario m-4"> Sobre mí</h6>
            <textarea id="sobre_mi_usuario" class="w-100 p-4 border-0 rounded-5" placeholder="Escribí algo sobre vos..." readonly data-bs-toggle="modal" data-bs-target="#modalSobreMi" onclick="abrirEditorSobreMi()" ></textarea>
        </div>
    </div>

    <!-- Materias -->
    <div class="container my-3">
        <div class="row g-5 justify-content-center">
            <!-- Materias Cursando -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias cursando
                            <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalEditarMaterias">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3 lista-de-materias">
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Materias Aprobadas -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Materias aprobadas
                            <button id="boton_editar_materias" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalEditarMaterias">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar materias" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3">
                            <li class="list-group-item materia-background"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Horarios disponibles -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 materia-background border-0">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            Horarios disponibles
                            <button id="boton_editar_horarios_disponibles" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalEditarHorarios">
                            <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="Editar" width="16">
                            </button>
                        </h5>
                        <ul class="list-group list-group-flush my-3">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Grupos -->
    <div class="container mb-5">
        <h4 class="text-center mb-4 fw-bold" id="titulo-grupos"><u>Grupos</u>
            <button id="btn-agregar-grupo" class="btn" data-bs-toggle="modal" data-bs-target="#modalAgregarGrupo">
                <i class="fa-solid fa-circle-plus fa-2x"></i>
            </button>
        </h4>
        <div class="row g-4 justify-content-center">
            {% for grupo in grupos %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="p-3 grupo-card-background h-100 d-flex flex-column justify-content-between rounded-5">
                    <div class="info-grupo-background rounded-5 p-3">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span id="nombre-grupo" class="fw-bold fw-lighter">{{ grupo.nombre }}</span>
                            <button class="btn btn-outline-secondary p-1" data-bs-toggle="modal" data-bs-target="#modalEditarGrupo">
                                <img src="{{ url_for('static', filename='img/icono_lapiz_edit.png') }}" alt="editar grupo" style="width: 20px;">
                            </button>
                        </div>
                        <span>{{ grupo.integrantes }} integrantes</span>
                    </div>
                    <div class="mt-2 d-block justify-content-center">
                        <button id="btn-info-grupo" class="btn btn-sm w-100 me-2 my-1">INFO</button>
                        <button id="btn-estado-tp" class="btn btn-success btn-sm w-100 my-1">ENTREGADO</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Modal para editar la foto de perfil-->
    <div class="modal" id="modalEditarFotoPerfil">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Elegí tu avatar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row g-3 justify-content-center">
                        {% for avatar in avatares %}
                        <div class="col-4 col-sm-4 col-md-3 col-lg-2 text-center">
                            <button type="button" class="btn p-0" onclick="cambiarFoto('{{ url_for('static', filename='img/avatares/' + avatar) }}')">
                                <img id="avatar_img" src="{{ url_for('static', filename='img/avatares/' + avatar) }}" alt="Avatar" class="rounded-circle img-fluid">
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar datos del usuario nombre/universidad/carrera-->
    <div class="modal" id="modalEditarCampo">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="modalEditarCampoTitulo">Editar</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input id="inputEditarCampo" class="w-100"></input>
                </div>
                <div class="modal-footer border-0 justify-content-center">
                    <button type="button" class="btn btn-guardar" onclick="guardarCampoEditado()">GUARDAR</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar el cuadro de texto "Sobre mí" -->
    <div class="modal" id="modalSobreMi">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0"><h5>Editar bio</h5></div>
                <div class="modal-body">
                    <textarea id="textareaEditarSobreMi" class="w-100"></textarea>
                    <div class="d-flex justify-content-center gap-2 mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
                        <button type="button" class="btn btn-guardar" onclick="guardarSobreMi()">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar materias -->
    <div class="modal" id="modalEditarMaterias">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content p-3">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Materias</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form class="text-center">
                        <div class="text-start"><label class="form-label ">Seleccioná tus materias:</label></div>
                        <div class="mb-3 d-flex flex-wrap gap-2 justify-content-center">
                            {% for materia in ['Algoritmos I', 'Algoritmos II', 'Bases de Datos', 'Teoría de algoritmos', 'Análisis Matemático I', 'Álgebra'] %}
                                <label class="check-input-materia rounded-5 cursor-pointer">
                                    <input class="d-none" type="checkbox" name="materias" value="{{ materia }}">
                                    <div class="materia-box p-2">{{ materia }}</div>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="text-start d-flex row">
                            <label for="nuevaMateria" class="form-label">Agregar nueva materia:</label>
                            <input type="text" class="p-2 input-agregar-materia w-100" id="nuevaMateria" placeholder="Escribí una materia nueva">
                        </div>
                        <button type="submit" class="btn btn-guardar mt-3 text-center">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar horarios disponibles -->
    <div class="modal" id="modalEditarHorarios">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-4">
                <div class="modal-header border-0">
                    <h5 class="modal-title fw-bold">Editar horarios disponibles</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="table-responsive">
                            <table class="table p-3 tabla-horarios text-center align-middle">
                                <thead>
                                    <tr>
                                        <th><i class="fa-regular fa-clock"></i></th>
                                        <th>Lu</th>
                                        <th>Ma</th>
                                        <th>Mié</th>
                                        <th>Ju</th>
                                        <th>Vi</th>
                                        <th>Sá</th>
                                        <th>Do</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Mañana</th>
                                        {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                            <td><input type="checkbox" name="{{ dia }}_mañana"></td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>Tarde<br></th>
                                        {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                            <td><input type="checkbox" name="{{ dia }}_tarde"></td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>Noche<br></th>
                                        {% for dia in ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo'] %}
                                            <td><input type="checkbox" name="{{ dia }}_noche"></td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="my-3 text-center">
                            <button type="submit" class="btn btn-guardar">Guardar horarios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para agregar grupo -->
    <div class="modal" id="modalAgregarGrupo">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title w-100 text-center">Agregar nuevo grupo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <form>
                        <div class="d-flex justify-content-center">
                            <div class="col mx-5 text-start align-items-start">
                                <div class="row">
                                    <label for="materiaGrupo" class="form-label">Materia</label>
                                    <input type="text" class="form-control" id="materiaGrupo" name="materiaGrupo" >
                                </div>
                                <div class="row">
                                    <label for="nombreGrupo" >Nombre del grupo</label>
                                    <input type="text" class="form-control" id="nombreGrupo" name="nombreGrupo" style="background-color: #1C1C21">
                                </div>
                                <div class="row">
                                    <label for="cantidadIntegrantes" class="form-label">Cantidad de integrantes actuales</label>
                                    <input type="number" class="form-control" id="cantidadIntegrantes" name="cantidadIntegrantes" style="background-color: #1C1C21">
                                </div>
                                <div class="row">
                                    <label for="padronIntegrante" class="form-label">Padrón de integrante X:</label>
                                    <input type="text" class="input-agregar-materia form-control" id="padronIntegrante" name="padronIntegrante" style="background-color: #1C1C21;">
                                </div>
                                <p class="form-text text-info">Est@ compañer@ ya tiene grupo / est@ compañer@ no está registrad@</p>
                            </div>
                            <div class="col mx-5">
                                <div class="row">
                                    <label for="nombreIntegrante" class="form-label">Nombre de integrante X:</label>
                                    <input type="text" class="form-control" id="nombreIntegrante" name="nombreIntegrante" style="background-color: #1C1C21">
                                </div>
                                <div class="row">
                                    <label for="apellidoIntegrante" class="form-label">Apellido de integrante X:</label>
                                    <input type="text" class="form-control" id="apellidoIntegrante" name="apellidoIntegrante" style="background-color: #1C1C21">
                                </div>
                                <div class="row">
                                    <label for="faltantes" class="form-label">¿Cuántas personas faltan para formar el grupo?</label>
                                    <input type="number" class="form-control w-25" id="faltantes" name="faltantes" style="background-color: #1C1C21">
                                </div>
                            </div>
                        </div>  
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg text-white fw-bold" style="background-color: #ba00b9;">AGREGAR GRUPO</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar grupo -->
    <div class="modal" id="modalEditarGrupo">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title w-100 text-center">Editar grupo</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2 row align-items-center">
                        <label for="editarNombreGrupo" class="col-form-label">Nombre del grupo</label>
                        <div class="">
                            <input type="text" class="form-control border-secondary" id="editarNombreGrupo">
                        </div>
                    </div>
                    <div class="contenedor-eliminar-integrante mb-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="form-label">Integrantes actuales</label>
                            <small><i class="fa-solid fa-xmark"></i> Eliminar integrante</small>
                        </div>
                        <div class="d-flex flex-wrap gap-2">
                            <div class="btn btn-outline-light d-flex align-items-center justify-content-between gap-2">
                                Integrante 1 <i class="fa-solid fa-xmark"></i>
                            </div>
                            <div class="btn btn-outline-light d-flex align-items-center justify-content-between gap-2">
                                Integrante 2 <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row align-items-center">
                        <p class="mt-2 mb-0">Agregar integrante</p>
                        <label for="padronNuevoIntegrante" class="col-form-label">Padrón de integrante X:</label>
                    <div class="">
                        <input type="text" class="form-control" id="padronNuevoIntegrante">
                    </div>
                    </div>
                    <p class="text-info small">
                        Est@ compañer@ ya tiene grupo / est@ compañer@ no está registrad@
                    </p>
                    <div class="mb-2 row align-items-center">
                        <label for="faltanIntegrantes" class="col-form-label">¿Cuántas personas faltan para formar el grupo?</label>
                        <div class="">
                            <input type="number" class="form-control" id="faltanIntegrantes">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 justify-content-center">
                    <button type="button" class="btn btn-eliminar-grupo"><i class="fa-solid fa-trash-can"></i> ELIMINAR GRUPO</button>
                    <button type="button" class="btn btn-guardar">GUARDAR CAMBIOS</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}